.main-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  margin-left: 150px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 10%;
}

.title {
  margin: auto;
  padding: 10px;
  text-align: center;
}

#showBalance {
  margin: 15px 33px;
  width: 40%;
  padding: 10px 20px;
}

#incomeAndExpenseDisplay {
  display: flex;
  margin-left: 50px;
  gap: 30px;
}

#incomeValue {
  margin-left: 20px;
  padding-top: 5px;
  color: green;
}

#expenseValue {
  margin-left: 20px;
  padding-top: 5px;
  color: red;
}

#newTransaction {
  margin: 50px 30px;
}

#transactions {
  width: 30%;
  margin-left: 55px;
  margin-top: 35px;
}
